[submodule "src/pcb/plugins/random-keyboard-parts.pretty"]
	path = src/pcb/plugins/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "src/pcb/plugins/MX_V2"]
	path = src/pcb/plugins/MX_V2
	url = https://github.com/ai03-2725/MX_V2
